
body{
  background-color: #26c6da;
}
.wrapper {


}

.wrapper > * {
  padding: 10px;

}
a{
  text-decoration: none;
  color:#ffebee;
}
.header {

}

.footer {


}

.main {  display: flex;
  font-weight: bold;
  flex-direction: row;
  flex-wrap:  wrap;
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 280px;
  margin-top: 100px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

}

.container{

  background-color: #311b92;
  align-self: center;
  padding: 5px;
   width: 200px;
   height: 400px;
  margin: 20px;
  color: #ffebee;
  border: 3px solid black;
}
.container img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.container p{
  text-align: center;
}
.container h3{
  text-align: center;
}

.container img:hover{
  border-radius: inherit;
}
.container p:hover{
  color: red;
}
.container h3:hover{
  color: red;
}
.container:hover{
  border-radius: inherit;
  color: red;
  border: 3px solid pink;
}
